* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* General */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1 {
    line-height: 1.2;
    font-size: 48px;
}

:root {
    --dark-bg-color: #1f2937;
    --light-heading-text-color: #f9faf8;
    --light-secondary-text-color: #e5e7eb;
    --dark-text-color: #1f2937;
    --cta-bg-color: #3882f6;
    --quote-bg-color: #e5e7eb;
    --quote-text: #1f2937;
    --gap-small: 15px;
    --gap-large: 25px;
    --gap-x-large: 50px;
    --container-padding: 90px 0;
    --border-radius: 8px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

nav, header, section, footer {
    padding-left: 70px;
    padding-right: 70px;
}

img {
    max-width: 100%;
    border-radius: var(--border-radius);
    object-fit: cover;
    object-position: 50% 50%;
}


a {
    text-decoration: none;
}

p {
    font-size: 18px;
    font-weight: 300;
}

/* Identifying border */

/* .logo, .menu, .container, .hero-content {
    border: 1px dotted red;
} */

/* Navbar Styling*/

.navbar {
    background-color: var(--dark-bg-color);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 80px;
    /* border: 1px solid red; */
}

.navbar li {
    list-style: none;
}

.logo {
    width: 180px;
    height: auto;
    object-fit: cover;
    margin-right: auto;
}

.navbar > .container {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
    /* border: 1px solid red; */
}

.menu {
    display: flex;
    gap: var(--gap-large);
}

.menu li a {
    color: var(--light-secondary-text-color);
}

.menu li a:hover {
    color: var(--cta-bg-color);
}

/* Header Styling */

.hero {
    background-color: var(--dark-bg-color);
    color: var(--light-heading-text-color);
}

.hero > .container {
    display: flex;
    justify-content: space-between;
    padding: var(--container-padding);
    gap: var(--gap-x-large);
}

.hero-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: var(--gap-small);
    width: 50%;
}
.hero-image-wrapper {
    width: 50%;
}

.hero-image {
    object-fit: cover;
    width: 100%;
}

.main-button {
    background-color: var(--cta-bg-color);
    color: var(--light-heading-text-color);
    padding: 7px 35px;
    border-radius: var(--border-radius);
}
.main-button:hover {
    background-color: color-mix(in oklab, var(--cta-bg-color) 100%, black 15%);
}

.hero-content > p {
    font-size: 18px;
    font-weight: 300;
    color: var(--light-secondary-text-color);
}

/* Info Section Styling */

.info > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    gap: var(--gap-x-large);
    text-align: center;
}

h2 {
    font-size: 36px;
    color: var(--dark-text-color);
    font-weight: 900;
}

.info-wrapper {
    display: flex;
    gap: calc(var(--gap-large) + 10px);
    /* border: 1px solid red; */
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    align-items: center;
}

.info-container > img {
    border: 3px solid var(--cta-bg-color);
}

/* Testimonial Section Styling */

.testimonials {
    background-color: var(--quote-bg-color);
}

.testimonials > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--container-padding);
    /* border: 1px solid red; */
}

.testimonial-wrapper {
    /* border: 1px solid red; */
    width: 85%;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: var(--dark-text-color);
}

.author {
    font-weight: 700;
    text-align: right;
    color: var(--dark-text-color);
}

.cta > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--container-padding);
}

.cta-container {
    background-color: var(--cta-bg-color);
    width: 100%;
    padding: 40px 80px;
    border-radius: var(--border-radius);
}

.cta-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-content {
    width: 70%;
}

.cta-content h3 {
    color: var(--light-heading-text-color);
}

.cta-content p {
    color: var(--light-secondary-text-color);
}

.main-button_outlined {
    border: 1.5px solid white;
}


/* Footer */

footer {
    background-color: var(--dark-bg-color);
}

footer > .container {
    display: flex;
    color: var(--light-secondary-text-color);
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.copyright-text {
    text-align: center;
}